@model ProductCategoryFormModel
@{
	ViewBag.Title = "Edit product category";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_CategoryFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
